/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive 2X Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 1400px) {

}
/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive X Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 1200px) {

}
/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 992px) {

}
/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Medium
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 768px) {
    .footer__wrapper {
        flex-flow: column nowrap;
    }
}
/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Small
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 576px) {
    *, *::before, *::after {
        cursor: default !important;
    }
    .footer__wrapper {
        gap: calc(var(--gap) * 3);
    }
    .footer__company {
        width: 100%;
        flex-flow: row nowrap;
        gap: calc(var(--gap) * 2);
    }
    .company__logo {
        height: 8rem;
    }
    .company__text {
        font-size: 2rem;
    }
    .creator__icon {
        font-size: 2.2rem;
    }
    .creator__text {
        font-size: 2.2rem;
    }
    .dark .footer {
        box-shadow: none;
    }
}