/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive 2X Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 1400px) {
    
}
/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive X Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 1200px) {
    
}
/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 992px) {
    .row--main {
        flex-direction: row;
    }
    .viewer__wrapper--show .viewer--active {
        height: calc(100% - var(--padding) * 2);;
    }
    .introdoction__wrapper {
        height: max-content;
    }
}
/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Medium
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 768px) {
    .main {
        min-height: calc(100svh - 7rem  - 12rem);
    }
    .viewer__wrapper--show {
        height: 72cqh;
    }
}
/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Small
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 576px) {
    *, *::before, *::after {
        cursor: default !important;
    }
    .logo__picture {
        display: none;
    }
    .main {
        min-height: calc(100svh - 7rem  - 17rem);
    }
    .viewer__wrapper--show {
        height: 66cqh;
    }
}