body {
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-image: url("../../pictures/background.webp");
    background-size: cover;
    background-color: center center;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
}

.loading {
    background-color: var(--body-bg-color);
}

.navbar,
.footer {
    background-color: var(--body-bg-color);
    backdrop-filter: blur(20px);
}

.company__text {
    color: var(--text-color);
}

.logo__title {
    color: var(--text-color);
}

.icon {
    background-color: var(--text-color);
    color: var(--body-bg-color);
}
.footer__icon {
    color: var(--text-color);
    background-color: transparent;
}
.main {
    position: fixed;
    inset: 7rem 0 7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--main {
    height: 100%;
}

.row--main {
    width: 100%;
    height: 100%;
}

.viewer__wrapper {
    min-height: max-content;
    background-color: var(--body-bg-color);
    backdrop-filter: blur(40px);
    border-radius: 0.8rem;
    padding: calc(var(--padding) * 2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--gap) * 4);
}

.viewer__title {
    font-size: 8rem;
    font-family: var(--title-font);
    color: var(--text-color);
    text-align: center;
}

.viewer__search {
    width: calc(100% - var(--padding) * 9);
    height: 6rem;
    background-color: var(--text-color);
    border-radius: 0.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding);
    position: relative;
}

.viewer__select {
    margin-top: 0.5rem;
    height: 100%;
    background-color: var(--text-color);
    font-size: 1.7rem;
    color: var(--body-bg-color);
    cursor: pointer;
    outline: none;
    padding-left: var(--gap);
}

.viewer__option {
    font-size: 1.6rem;
}

.viewer__input {
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--text-color);
    color: var(--body-bg-color);
}

.viewer__input::placeholder {
    color: var(--body-bg-color);
}

.viewer__submit {}

.viewer__icon--search {}

.viewer__description {
    color: var(--text-color);
    font-size: 1.8rem;
    text-align: justify;
    text-align-last: center;
    padding: 0 calc(var(--padding) * 5);
}

.main__molcules {
    position: absolute;
    inset: calc(100% + var(--gap)) 0 auto 0;
    background-color: var(--text-color);
    width: 100%;
    max-height: 16rem;
    z-index: 998;
    border-radius: 0.8rem;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding);
}

.molecule {
    width: 100%;
    height: 6.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    background-color: var(--body-bg-color);
    box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem;
    padding: var(--padding);
    cursor: pointer;
}

.molocule__details {
    width: auto;
    height: 100%;
    font-size: 1.7rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap);
    line-height: 1.6;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.molocule__details:first-child::-webkit-scrollbar,
.main__molcules::-webkit-scrollbar {
    display: none;
}

.molocule__details:last-child {
    direction: ltr;
    max-width: 75%;
    border: 2px solid var(--text-color);
    border-radius: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    padding: 0 calc(var(--padding) / 2);
}

.bank__wrapper {
    min-height: max-content;
    background-color: var(--body-bg-color);
    backdrop-filter: blur(40px);
    border-radius: 0.8rem;
    padding: calc(var(--padding) * 2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--gap) * 4);
}
.bank__title {
    font-size: 8rem;
    font-family: var(--title-font);
    color: var(--text-color);
    text-align: center;
}
.bank__search {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: var(--gap);
}
.search__title {
    font-size: 2.2rem;
    color: var(--text-color);
}
.bank__select {
    width: 100%;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    padding: calc(var(--padding) / 2) var(--padding);
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--body-bg-color);
}
.bank__option {
    font-size: 1.7rem;
}

.bank__submit {
    margin-top: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap) / 2);
    background-color: lime;
    border-radius: 0.5rem;
    cursor: pointer;
}
.submit__text {
    font-size: 1.9rem;
    color: white;
    font-weight: 900;
}
.bank__icon--submit {
    background-color: transparent;
    color: white;
    font-size: 3rem;
}