body {
    width: 100%;
    min-height: 100svh;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: calc(var(--gap) * 2);
}
.dark .navbar,
.dark .footer,
.dark .point__information,
.dark .case__wrapper,
.dark .pdf__wrapper {
    box-shadow: 0 0 2rem 0 rgb(50, 50, 50);
}

.navbar {
    background-color: var(--body-bg-color);
    z-index: 998;
}

.light .navbar {
    box-shadow: 0 -0.8rem 1rem 1rem rgb(235, 235, 235);
}

.logo__title {
    color: var(--text-color);
    background: linear-gradient(90deg, rgba(255, 146, 0, 1) 0%, rgba(255, 73, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    background-color: var(--text-color);
    color: var(--body-bg-color);
}

.footer {
    background-color: var(--body-bg-color);
    z-index: 998;
}

.light .footer {
    box-shadow: 0 0.8rem 1rem 1rem rgb(235, 235, 235);
}

.footer__icon {
    background-color: transparent;
    color: var(--text-color);
}

.creator__text {
    color: var(--text-color);
}

.main {
    width: 100%;
    min-height: calc(97svh - (7rem * 2 + var(--gap) * 2));
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--main {
    height: 100%;
}

.row--main {
    height: 100%;
}

.point__wrapper {
    position: relative;
    height: calc(100cqh - 7rem * 2 - var(--padding) * 2 - var(--gap) * 4);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
    border-radius: 1.5rem;
    overflow: hidden;
}

.point__information {
    height: max-content;
    width: 100%;
    box-shadow: 0 -0.8rem 1rem 1rem rgb(235, 235, 235);
    border-radius: 1.5rem;
    padding: calc(var(--padding) * 2);
    background: linear-gradient(90deg, rgba(255, 146, 0, 1) 0%, rgba(255, 73, 0, 1) 100%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.information__title {
    color: white;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
}

.information__base {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.information__season {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.case__wrapper {
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 146, 0, 1) 0%, rgba(255, 73, 0, 1) 100%);
    border-radius: 1.5rem;
    overflow-y: scroll;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap);
    padding: var(--padding);
    padding-bottom: calc(5rem + var(--padding));
    /* position: relative; */
}

.case__wrapper::-webkit-scrollbar {
    display: none;
}

.case__numbers {
    width: 4rem;
    height: max-content;
    background-color: var(--body-bg-color);
    border-radius: 0.8rem;
    padding: calc(var(--padding) / 2);
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--gap) / 2);
}

.case__number {
    width: 100%;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.9rem;
    font-weight: 900;
    font-family: var(--main-font);
    padding-top: 0.5rem;
}

.case__points {
    width: 100%;
    height: max-content;
    padding: calc(var(--padding) / 2);
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--gap) / 2);
}

.point__case {
    width: 100%;
    height: 3.3rem;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    gap: calc(var(--gap) / 2);
}

.case {
    width: 100%;
    height: 100%;
    background-color: var(--body-bg-color);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

.case span {
    font-size: 2rem;
    font-family: var(--main-font);
    font-weight: 900;
}

.case--choice {
    position: relative;
    background-color: var(--body-bg-color);
}

.case--choice span {
    display: none;
}

.case--choice::before {
    content: "";
    position: absolute;
    top: calc(50% - 1.5rem / 2);
    right: calc(50% - 1.5rem / 2);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(70, 70, 70);
}

.dark .case--choice::before {
    background-color: white;
}

.case--correct {
    background-color: lime;
}

.case--correct::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 0.4rem;
    border-radius: 0.4rem;
    rotate: 50deg;
    background-color: white;
    top: 55%;
    left: calc(50% - 1.5rem);
    right: auto;
}

.case--correct::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 0.4rem;
    rotate: -50deg;
    background-color: white;
    top: 45%;
    right: calc(50% - 1.6rem);
}

.case--wrong {
    background-color: crimson;
}

.case--wrong::before {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 0.4rem;
    rotate: 45deg;
    background-color: white;
    inset: 0;
    margin: auto;
}

.case--wrong::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 0.4rem;
    rotate: -45deg;
    background-color: white;
    inset: 0;
    margin: auto;
}

.pdf__wrapper {
    height: calc(100cqh - 7rem * 2 - var(--padding) * 2 - var(--gap) * 4);
    overflow-y: auto;
    border-radius: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
}

.light .pdf__wrapper {
    box-shadow: 0 -0.8rem 1rem 1rem rgb(235, 235, 235);
}

.pdf__wrapper::-webkit-scrollbar {
    display: none;
}
.pdf__wrapper canvas {
    width: 100%;
}

.dark .pdf__wrapper canvas {
    filter: invert(1) grayscale(0);
}

.case__submit {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: lime;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.submit__icon {
    background-color: transparent;
    font-size: 3.3rem;
    color: white;
}
.submit__text {
    color: white;
    font-weight: 900;
    font-size: 2rem;
}